## Node
node_modules/
/.pnp/
.pnp.js

## Vite / build
/dist/
/build/
/.vite/

## Env
.env
.env.*

## Local env overrides
.env.local
.env.*.local

## Editor / OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# Windows
Desktop.ini
ehthumbs.db

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Caches and tooling
.eslintcache
.parcel-cache/
.nyc_output/
.turbo/
.cache/

## Misc
coverage/
*.local
*.bak


# TypeScript
*.tsbuildinfo

# JetBrains
*.iml
